@font-face {
    font-family: Oxygen;
    src: url('OxygenMono-Regular.ttf')
}
h1, h2, h3, h4, h5, h6, p, strong, button {
	font-family: Oxygen
}
strong {
	font-size: 1.5vh;
}
.number {
	animation: shinyText 15s infinite linear;
}
@keyframes shinyText {
	0% { color: #FFFFFF;}
	50% { color: #C0C0C0;}
	100% { color: #FFFFFF;}
}